html {
   padding: 0;
   margin: 0;
}
body {
   padding: 0;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(45deg, #41295a, #2F0743); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   height: 150vh;
   text-align: center;
   color: rgb(244, 244, 244);
}
input {
    margin: 1em;
    border-radius: 0.7em;
    border: 0px;
    padding: 0.6em;
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
}
input:focus {
    outline:none;
}
a {
   text-decoration: none;
   color: rgb(240, 240, 240);
}
a :hover {
   cursor: pointer;
   text-decoration: none;
   color: rgb(255, 255, 255);
}
a :active {
   color: rgb(224, 224, 224);
} 
h2 {
    margin: 0px;
}
h4 {
    margin: 0px;
}
img {
   border: none;
}
#content {
   padding-top: 5em;
}
#info {
   font-size: 12px;
    margin: 0 auto;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 2em;
    padding: 0.4em;
    display:flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.18));
}
.nav-title {
    order: 0;
}
.nav-login {
    order: 1;
}
.nav-newuser {
    order: 2;
}
.nav-elem {
    margin: 0.4em;
}
#header-wrap{ position:absolute;}
.partial_form {
    width: 28vw;
    margin: auto;
    padding: 2em;
    border-radius: 0.7em;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.18));
}
.submit-btn {
    background: #fff;
}