/* mobile version */
body {
    background: #121316;
    background-image: linear-gradient(45deg, rgb(30, 30, 69), rgb(10, 47, 74));
    color: rgb(209, 209, 209);
    font-family: "Open sans";
    margin: 0px;
    overflow: hidden;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.header {
    width: 100%;
    margin-top: 0em;
}
.content {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em; 
    padding-right: 20px;
}
.posts {
    display: block;
    margin-top: 40px;
    padding-right: 5px;
}
.post {
    text-align: left;
}
.post-line {
    margin-top: 50px;
    height: 2px;
    background: linear-gradient(to right, transparent 70%,  rgb(44, 44, 123) 50%), linear-gradient(to right, #4776e6, #8e54e9);
    box-shadow: 0px 0px 7px 1px rgb(44, 44, 123);
    background-size: 16px 2px, 100% 2px;
}
.post-title {
    color: rgb(196, 28, 238);
}
.post-content {
    color: rgb(228, 228, 228);
}
@media screen and (min-width: 720px) {
    /* Desktop version */
    .wrapper {
        width: 70vw;
    }
    .navbar {
        width: 70vw;
    }
}
